
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo-text {
font-family: "Fjalla One", sans-serif;
font-weight: 900;
font-style: normal;
}

.fjalla {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.caps {
    text-transform: uppercase;
}


.mt-4 {
    margin-top: 40px;
}

.pt-4 {
    padding-top: 40px;
}

/*/  Header  /*/

.navbar-toggler {
background-color: #FE6801;
margin-right: 5px;
}





.logo-xs {
    height: 60px;
    width: 60px;
    padding: 5px;
}

.logo-sm {
    height: 80px;
    width: 80px;
}



.logo-hero {
    height: 230px;
    width: 230px;
}




header {
    /* background-color: #0119FE; */
    background: linear-gradient(#0119FE 30%, #01FEE6 70%);
    border-bottom: 3px solid #FE6801;
    
}


.jcc {
display: flex;
justify-content: center;
}


.parent {
    display: flex;
    min-height: 320px;
    margin: 0;
}

.child {
    margin: auto;
}

/*/ Main  /*/

main {
    margin-top: 500px;
    background-color: #0119FE;
    margin-top: 5PX;
    
}

.gap {
    height: 800px;
}
/*/ Footer  /*/

footer {
    border-top: 4px solid  #FE6801;
     background: linear-gradient(#01FEE6 30%, #0119FE 70%);
    height: 100px;
}





/* 

Color Pallet via a online 'Color Wheel'

https://www.canva.com/colors/color-wheel/ */


/*/ Logo Blue */

.logo-blue {
    color: #0197fe;
}
.logo-blue-bg {
    background-color: #0197fe;
}

/*/ logo complimentry color   /*/
.logo-orange {
    color: #FE6801;
}
.logo-orange-bg {
    background-color: #FE6801;
}

.line-orange {
    border: 3px solid #FE6801;
    
}

 /*/ logo Analogous dark /*/
 .logo-dark {
    color: #0119FE;
 }
  .logo-dark-bg {
    background-color: #0119FE;
 }

/*/ logo Analogous light /*/
 .logo-light {
    color: #01FEE6;
 }
 .logo-light-bg {
    background-color: #01FEE6;
 }





/*/ Responive Media Screens   /*/

/* Large Screen or landscape phones */
@media screen and (min-width: 576px) {}

/* Tablets and larger */
@media screen and (min-width: 768px) {}

/* Laptops and Desktops */
@media screen and (min-width: 992px) {}

/* Large Desktops, Tv screens & Projectors */
@media screen and (min-width: 1200px) {}